<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Hồ sơ</h4>
        <h6>Thông tin cá nhân</h6>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="profile-set">
          <div class="profile-head"></div>
          <div class="profile-top">
            <div class="profile-content">
              <div class="profile-contentimg">
                <img src="assets/img/customer/customer5.jpg" alt="Ảnh đại diện" id="blah">
                <div class="profileupload">
                  <input type="file" id="imgInp" accept="image/*">
                  <a href="javascript:void(0);"><img src="assets/img/icons/edit-set.svg" alt="Chỉnh sửa"></a>
                </div>
              </div>
              <div class="profile-contentname">
                <h2>Nguyễn Tuấn Khanh</h2>
                <h4>Cập nhật ảnh và thông tin cá nhân của bạn.</h4>
              </div>
            </div>
            <div class="ms-auto">
              <button type="button" class="btn btn-submit me-2">Lưu</button>
              <button type="button" class="btn btn-cancel">Hủy</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="firstName">Tên</label>
              <input type="text" id="firstName" placeholder="Khanh">
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="lastName">Họ</label>
              <input type="text" id="lastName" placeholder="Nguyễn Tuấn">
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="khanhnguyentuan4569@gmail.com">
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="phone">Số điện thoại</label>
              <input type="tel" id="phone" placeholder="+84 773 169 003">
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="username">Tên đăng nhập</label>
              <input type="text" id="username" placeholder="Nhập tên đăng nhập">
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <div class="pass-group">
                <input type="password" id="password" class="pass-input">
                <span class="fas toggle-password fa-eye-slash"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-submit me-2">Xác nhận</button>
            <button type="button" class="btn btn-cancel">Hủy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>