<footer>
    <div class="color"></div>
    <div class="all-colum">
        <div class="footer-colum footer-colum-1">
            <h3 style="color: ghostwhite;">Thông Tin Khác</h3>
            <ul>
                <li><a href="/tranghu"><i class="fa-solid fa-caret-right"></i>Trang Chủ</a></li>
                <li><a href="/gioithieu"><i class="fa-solid fa-caret-right"></i>Giới Thiệu</a></li>
                <li><a href="/sanpham"><i class="fa-solid fa-caret-right"></i>Sản Phẩm</a></li>
                <li><a href="/yeuthich"><i class="fa-solid fa-caret-right"></i>Yêu Thích</a></li>
            </ul>
       
        </div>
        <div class="footer-colum footer-colum-2">
            <h3 style="color: ghostwhite;">Vị trí và liên hệ</h3>
            <ul>
                <li><a href="#">Địa chỉ: Ấp Bàu Bông, xã Phước An, Nhơn Trạch Đồng Nai</a></li>
                <li><a href="#">Hotline: 079 999 123</a></li>
                <li><a href="#">Email:goldenspoonvn&#64;gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-colum footer-colum-3">
            <h3 style="color: ghostwhite;">Google Map</h3>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d931.8618859003558!2d106.6246551668377!3d10.850367574696245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1svi!2s!4v1739150986227!5m2!1svi!2s" 
                width="400" 
                height="400" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe> 
        </div>
    </div>
  </footer>
